{{ form_start(form) }}
<button type="button" class="add_item_link" data-collection-holder-class="content">Add a line</button>
    <table class="content table" data-prototype="{{ form_widget(form.content.vars.prototype)|e('html_attr') }}">
        <thead>
            <tr>
                <th>Ref</th>
                <th>Description</th>
                <th>Qty</th>
                <th>Taxes</th>
                <th>Price</th>
                <th>Total</th>
                <th>Action</th>
            </tr>
        </thead>
    </table>
{{ form_widget(form) }}
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}

