{% extends 'base.html.twig' %}

{% block title %}Edit Quotation{% endblock %}

{% form_theme form _self %}
{% block _quotation_content_entry_widget %}
    {{ include('admin/quotation/_widget_configuration.html.twig') }}
{% endblock %}

{% block javascripts %}
    {{ include('admin/quotation/_javascript.html.twig') }}
{% endblock %}

{% block body %}
    <h1>Edit Quotation</h1>

    {{ include('admin/quotation/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('admin_quotation_index') }}">back to list</a>

    {{ include('admin/quotation/_delete_form.html.twig') }}
{% endblock %}
