{% extends 'base.html.twig' %}

{% block title %}{% trans %}Quotation index{% endtrans %}{% endblock %}

{% block body %}
    <h1>{% trans %}Quotation index{% endtrans %}</h1>

    <table class="table">
        <thead>
            <tr>
                <th>{% trans %}Customer{% endtrans %}</th>
                <th>{% trans %}Email{% endtrans %}</th>
                <th>{% trans %}Archived{% endtrans %}</th>
                <th>{% trans %}Printed{% endtrans %}</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for quotation in quotations %}
            <tr>
                <td>{{ quotation.Customer.name }}</td>
                <td>{{ quotation.email }}</td>
                <td>{{ quotation.archived ? '<i class="bi bi-check-circle text-success"></i>' : '<i class="bi bi-x-circle text-danger"></i>' }}</td>
                <td>{{ quotation.printed ? '<i class="bi bi-check-circle text-success"></i>' : '<i class="bi bi-x-circle text-danger"></i>' }}</td>
                <td>
                    {% if quotation.archived %}
                        <form method="post" action="{{ path('admin_quotation_unarchive', {'id': quotation.id}) }}" onsubmit="return confirm('{% trans %}Are you sure you want to unarchive this item?{% endtrans %}');" class="form-inline d-inline">
                            <input type="hidden" name="_token" value="{{ csrf_token('unarchive' ~ quotation.id) }}">
                            <button class="btn btn-outline-secondary"><i class="bi bi-box-arrow-in-up"></i> {% trans %}unarchive{% endtrans %}</button>
                        </form>
                    {% else %}
                    <form method="post" action="{{ path('admin_quotation_archive', {'id': quotation.id}) }}" onsubmit="return confirm('{% trans %}Are you sure you want to archive this item?{% endtrans %}');" class="form-inline d-inline">
                        <input type="hidden" name="_token" value="{{ csrf_token('archive' ~ quotation.id) }}">
                        <button class="btn btn-outline-secondary"><i class="bi bi-box-arrow-in-down"></i> {% trans %}archive{% endtrans %}</button>
                    </form>
                    {% endif %}

                    <a href="{{ path('admin_quotation_edit', {'id': quotation.id}) }}" class="btn btn-primary">{% trans %}edit{% endtrans %}</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">{% trans %}no records found{% endtrans %}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('admin_quotation_new') }}" class="btn btn-outline-success">{% trans %}Create new{% endtrans %}</a>
{% endblock %}
