{% extends 'base.html.twig' %}

{% block title %}{% trans %}Quotation{% endtrans %}{% endblock %}

{% block body %}
    <h1>{% trans %}Quotation{% endtrans %}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ quotation.id }}</td>
            </tr>
            <tr>
                <th>{% trans %}Adress{% endtrans %}</th>
                <td>{{ quotation.adress }}</td>
            </tr>
            <tr>
                <th>{% trans %}Printed{% endtrans %}</th>
                <td>{{ quotation.printed ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>{% trans %}Send by mail{% endtrans %}</th>
                <td>{{ quotation.sendByMail ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>{% trans %}Created at{% endtrans %}</th>
                <td>{{ quotation.createdAt ? quotation.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>{% trans %}Email{% endtrans %}</th>
                <td>{{ quotation.email }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('admin_quotation_index') }}">{% trans %}back to list{% endtrans %}</a>

    <a href="{{ path('admin_quotation_edit', {'id': quotation.id}) }}">{% trans %}edit{% endtrans %}</a>

    {{ include('admin/quotation/_delete_form.html.twig') }}
{% endblock %}
