<!-- Modal new payment -->
<div class="modal fade" id="newPayment" tabindex="-1" aria-labelledby="newPaymentModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form action="{{ path('admin_invoice_index') }}" method="post" class="form-control">
                <div class="modal-header">
                    <h5 class="modal-title" id="newPaymentModalLabel">{% trans %}New payment{% endtrans %}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="{% trans %}Close{% endtrans %}"></button>
                </div>
                {{ form_start(newPayment) }}
                <div class="modal-body">
                        {{ form_row(newPayment.invoice) }}
                        {{ form_row(newPayment.amount) }}
                        {{ form_row(newPayment.date) }}
                        {{ form_row(newPayment.mode) }}
                </div>
                <div class="modal-footer">
                    <input type="submit" class="btn btn-primary" value="{% trans %}Save{% endtrans %}">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{% trans %}Close{% endtrans %}</button>
                </div>
                {{ form_end(newPayment) }}
            </form>
        </div>
    </div>
</div>

<script>
    jQuery(document).ready(function() {
        $('.newPayment').click(function () {
            var id = $(this).data('id-invoice');
            var sold = $(this).data('sold');
            $('#payment_amount').val(sold);
            $('#payment_invoice').val(id);
            $('#payment_date').val('{{ "now"|date("Y-m-d") }}');
        });

        $('.delete-payment').click(function(){
            if(confirm('Are you sure you want to delete this item?')){
                ajaxDeletePayment($(this));
            }
        });
    });

    function ajaxDeletePayment($payment){
        var token = $payment.data('delete-token');
        var url = $payment.data('delete-url');
        $.ajax({
            type: "POST",
            url: url,
            data: {'_token': token},
            success: function(data){
                if(data.success == 'true'){
                    $payment.parent('td').parent('tr').fadeOut();
                    alert(data.newSold);
                    $payment.parents('.invoice-row').children('.invoice-sold').html(data.newSold.toFixed(2));
                }
            }
        });
    }
</script>