<!-- Modal new payment -->
<div class="modal fade" id="newPayment" tabindex="-1" aria-labelledby="newPaymentModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form action="{{ path('admin_invoice_index') }}" method="post" class="form-control">
                <div class="modal-header">
                    <h5 class="modal-title" id="newPaymentModalLabel">New payment</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    {{ form_start(newPayment) }}
                        <input type="hidden" name="payment[id]" id="payment_id">
                        {{ form_row(newPayment.amount) }}
                        {{ form_row(newPayment.date) }}
                        {{ form_row(newPayment.mode) }}
                    {{ form_end(newPayment) }}
                </div>
                <div class="modal-footer">
                    <input type="submit" class="btn btn-primary" value="Save">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Modal payment list -->
<div class="modal fade" id="paymentList" tabindex="-1" aria-labelledby="paymentListModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="paymentListModalLabel">Payment list</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">Save</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script>
    jQuery(document).ready(function() {
        $('.newPayment').click(function () {
            var id = $(this).data('id-invoice');
            var sold = $(this).data('sold');
            $('#payment_amount').val(sold);
            $('#payment_id').val(id);
            $('#payment_date').val('{{ "now"|date("Y-m-d") }}');

        });
    });
</script>