{% extends 'base.html.twig' %}

{% block title %}Invoice index{% endblock %}

{% block body %}
    <h1>Invoice index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Customer</th>
                <th>Sold</th>
                <th>Archived</th>
                <th>Printed</th>
                <th>Send_by_mail</th>
                <th>Email</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for invoice in invoices %}
            <tr>
                <td>{{ invoice.Customer.name }}</td>
                <td>{{ invoice.sold }}</td>
                <td>{{ invoice.archived ? '<i class="bi bi-check-circle text-success"></i>' : '<i class="bi bi-x-circle text-danger"></i>' }}</td>
                <td>{{ invoice.printed ? '<i class="bi bi-check-circle text-success"></i>' : '<i class="bi bi-x-circle text-danger"></i>' }}</td>
                <td>{{ invoice.sendByMail ? '<i class="bi bi-check-circle"></i>' : '<i class="bi bi-x-circle"></i>' }}</td>
                <td>{{ invoice.email }}</td>
                <td>
                    {% if invoice.archived %}
                        <form method="post" action="{{ path('admin_invoice_unarchive', {'id': invoice.id}) }}" onsubmit="return confirm('Are you sure you want to unarchive this item?');" class="form-inline d-inline">
                            <input type="hidden" name="_token" value="{{ csrf_token('unarchive' ~ invoice.id) }}">
                            <button class="btn btn-outline-secondary"><i class="bi bi-box-arrow-in-up"></i> unarchive</button>
                        </form>
                    {% else %}
                        <form method="post" action="{{ path('admin_invoice_archive', {'id': invoice.id}) }}" onsubmit="return confirm('Are you sure you want to archive this item?');" class="form-inline d-inline">
                            <input type="hidden" name="_token" value="{{ csrf_token('archive' ~ invoice.id) }}">
                            <button class="btn btn-outline-secondary"><i class="bi bi-box-arrow-in-down"></i> archive</button>
                        </form>
                    {% endif %}
                    <a href="{{ path('admin_invoice_show', {'id': invoice.id}) }}" class="btn btn-info">show</a>
                    <a href="{{ path('admin_invoice_edit', {'id': invoice.id}) }}" class="btn btn-primary">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('admin_invoice_new') }}" class="btn btn-outline-success">Create new</a>
{% endblock %}
