{% extends 'base.html.twig' %}

{% block title %}Invoice index{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/main.css') }}">
{% endblock %}

{% block body %}
    <h1>Invoice index</h1>
    <a href="{{ path('admin_invoice_new') }}" class="btn btn-outline-success mb-2">Create new</a>
    <table class="table invoice">
        <thead>
            <tr>
                <th><span class="d-md-inline d-none">Customer</span></th>
                <th>Date</th>
                <th>Sold</th>
                <th></th>
                <th><i class="bi bi-archive"></i></th>
                <th><i class="bi bi-printer"></i></th>
                <th><i class="bi bi-envelope-open"></i></th>
                <th class="d-md-table-cell d-none">Email</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for invoice in invoices %}
            <tr class="invoice-row">
                <td><span>{{ invoice.Customer.id }}</span><span class="d-md-inline d-none"> - {{  invoice.Customer.name }}</span></td>
                <td>{{ invoice.createdAt|date('d/m/Y') }}</td>
                <td class="invoice-sold">
                    {{ invoice.sold|number_format(2) }}
                </td>
                <td>
                    <div class="d-inline-block justify-content-end">
                        {% if invoice.sold > 0 %}
                            <button type="button" class="btn btn-link newPayment" data-bs-toggle="modal" data-bs-target="#newPayment" data-id-invoice="{{ invoice.id }}" data-sold="{{ invoice.sold }}">
                                <i class="bi bi-cash-coin"></i>
                            </button>
                        {% endif %}
                        <button type="button" class="btn btn-link paymentList text-primary" data-bs-toggle="modal" data-bs-target="#paymentList-{{ invoice.id }}">
                            <i class="bi bi-cash-stack"></i>
                        </button>
                    </div>
                </td>
                <td>{{ invoice.archived ? '<i class="bi bi-check-circle text-success"></i>' : '<i class="bi bi-x-circle text-danger"></i>' }}</td>
                <td>{{ invoice.printed ? '<i class="bi bi-check-circle text-success"></i>' : '<i class="bi bi-x-circle text-danger"></i>' }}</td>
                <td>{{ invoice.sendByMail ? '<i class="bi bi-check-circle"></i>' : '<i class="bi bi-x-circle"></i>' }}</td>
                <td class="d-md-table-cell d-none">{{ invoice.email }}</td>
                <td>
                    {% if invoice.archived %}
                        <form method="post" action="{{ path('admin_invoice_unarchive', {'id': invoice.id}) }}" onsubmit="return confirm('Are you sure you want to unarchive this item?');" class="form-inline d-inline">
                            <input type="hidden" name="_token" value="{{ csrf_token('unarchive' ~ invoice.id) }}">
                            <button class="btn btn-outline-secondary"><i class="bi bi-box-arrow-in-up"></i><span class="d-md-inline d-none"> unarchive</span></button>
                        </form>
                    {% else %}
                        <form method="post" action="{{ path('admin_invoice_archive', {'id': invoice.id}) }}" onsubmit="return confirm('Are you sure you want to archive this item?');" class="form-inline d-inline">
                            <input type="hidden" name="_token" value="{{ csrf_token('archive' ~ invoice.id) }}">
                            <button class="btn btn-outline-secondary"><i class="bi bi-box-arrow-in-down"></i><span class="d-md-inline d-none"> archive</span></button>
                        </form>
                    {% endif %}
                    <a href="{{ path('admin_invoice_edit', {'id': invoice.id}) }}" class="btn btn-primary"><i class="bi bi-pencil"></i><span class="d-md-inline d-none"> edit</span></a>

                    <!-- Modal payment list -->
                    <div class="modal fade" id="paymentList-{{ invoice.id }}" tabindex="-1" aria-labelledby="paymentListModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="paymentListModalLabel">Payment list</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    {%  if invoice.payments is not empty %}
                                        <table class="table table-striped table-sm">
                                            <thead>
                                            <tr>
                                                <th>Amount</th>
                                                <th>Date</th>
                                                <th>Mode</th>
                                                <th>Action</th>
                                            </tr>
                                            </thead>
                                            {% for payment in invoice.payments %}

                                                <tr>
                                                    <td>{{ payment.amount }}</td>
                                                    <td>{{ payment.date|date("d/m/Y") }}</td>
                                                    <td>{{ payment.mode == 0 ? 'Money' }}{{ payment.mode == 1 ? 'Check' }}{{ payment.mode == 2 ? 'Bank transfert' }}{{ payment.mode == 3 ? 'Bank card' }}{{ payment.mode == 4 ? 'Paypal' }}{{ payment.mode == 5 ? 'Other' }}</td>
                                                    <td class="text-right">
                                                        <a href="#" class="btn btn-danger delete-payment" data-delete-token="{{ csrf_token('delete' ~ payment.id) }}" data-delete-url="{{ path('admin_payment_delete', {'id': payment.id}) }}"><i class="bi bi-trash"></i></a>

                                                    </td>
                                                </tr>
                                            {% endfor %}

                                        </table>
                                    {% else %}
                                        This invoice have't any payment
                                    {% endif %}
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('admin_invoice_new') }}" class="btn btn-outline-success">Create new</a>
    {{ include('admin/invoice/_modal.html.twig') }}
{% endblock %}
