{% extends 'base.html.twig' %}

{% block title %}{% trans %}Invoice{% endtrans %}{% endblock %}

{% block body %}
    <h1>{% trans %}Invoice{% endtrans %}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ invoice.id }}</td>
            </tr>
            <tr>
                <th>{% trans %}Adress{% endtrans %}</th>
                <td>{{ invoice.adress }}</td>
            </tr>
            <tr>
                <th>{% trans %}Sold{% endtrans %}</th>
                <td>{{ invoice.sold }}</td>
            </tr>
            <tr>
                <th>{% trans %}Printed{% endtrans %}</th>
                <td>{{ invoice.printed ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>{% trans %}Send by mail{% endtrans %}</th>
                <td>{{ invoice.sendByMail ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>{% trans %}Created at{% endtrans %}</th>
                <td>{{ invoice.createdAt ? invoice.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>{% trans %}mail{% endtrans %}</th>
                <td>{{ invoice.email }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('admin_invoice_index') }}">{% trans %}back to list{% endtrans %}</a>

    <a href="{{ path('admin_invoice_edit', {'id': invoice.id}) }}">{% trans %}edit{% endtrans %}</a>

    {{ include('admin/invoice/_delete_form.html.twig') }}
{% endblock %}
