{% extends 'base.html.twig' %}

{% block title %}{% trans %}Customer index{% endtrans %}{% endblock %}

{% block body %}
    <h1>{% trans %}Customer index{% endtrans %}</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>{% trans %}Name{% endtrans %}</th>
                <th>{% trans %}Adress{% endtrans %}</th>
                <th>{% trans %}Email{% endtrans %}</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for customer in customers %}
            <tr>
                <td>{{ customer.id }}</td>
                <td>{{ customer.name }}</td>
                <td>{{ customer.adress ? customer.adress|join(', ') : '' }}</td>
                <td>{{ customer.email }}</td>
                <td>
                    <a href="{{ path('admin_customer_edit', {'id': customer.id}) }}">{% trans %}edit{% endtrans %}</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">{% trans %}no records found{% endtrans %}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('admin_customer_new') }}">{% trans %}Create new{% endtrans %}</a>
{% endblock %}
